@import "viewports";

div.debug {
  background: rgba(0,0,0, .5);
  width: 100%;
  position: fixed;
  top: 0;
  //margin: 0;

  display: none;
}
div.debug p {
  text-align:  center;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  //margin: 0;
  color: #fff;
}
.wrapper, .measure, .upper { border: 0px dotted #000; }

@media screen and (min-width: $ipad_landscape) and (min-width: $desktop) { .debug p:after { content: "DESKTOP"; } }
@media screen and (min-width: $ipad_portrait) and (max-width: $ipad_landscape) { .debug p:after { content: "IPAD LANDSCAPE"; } }
@media screen and (min-width: $iphone_landscape) and (max-width: $ipad_portrait) { .debug p:after { content: "IPAD PORTRAIT"; } }
@media screen and (min-width: $iphone_portrait) and (max-width: $iphone_landscape) { .debug p:after { content: "IPHONE LANDSCAPE"; } }
@media screen and (max-width: $iphone_portrait) { .debug p:after { content: "IPHONE PORTRAIT"; } }
